@model Anmii.Models.MON_AN
@{
    ViewBag.Title = "CreateMonAn";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("CreateMonAn", "NHAN_VIEN", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Nhập thông tin món ăn</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.MAMONAN, "Mã món ăn", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <input type="text" value="@ViewBag.MAMONAN" disabled readonly class="form-control" />
                @Html.ValidationMessageFor(model => model.MAMONAN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TENMONAN, "Tên món ăn", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.TENMONAN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TENMONAN, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.MOTA, "Mô tả", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextAreaFor(model => model.MOTA, new { htmlAttributes = new { @class = "form-control" }, @style = "width: 600px; height: 100px" })
                @Html.ValidationMessageFor(model => model.MOTA, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ANHMONAN, "Ảnh món ăn", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <input type="file" style="height:30px;" name="Avatar" accept="Images/*" required />
                @Html.ValidationMessageFor(model => model.ANHMONAN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MALOAIMONAN, "Loại", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownList("MALOAIMONAN", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MALOAIMONAN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <button type="submit" value="CreateMonAn" class="btn btn-success">Thêm món ăn</button> |

                @Html.ActionLink("Quay lại", "IndexMonAn")
            </div>
        </div>
    </div>
}



